CONNECTION_STRING=mongodb://mongodb:27017
DATABASE_NAME=clinic
IS_SSL=false
SECRET_KEY=sua_chave_secreta_jwt_longa_e_segura_aqui_123456!
ISSUER=ClinicIssuer
AUDIENCE=ClinicAudience
ALLOWED_ORIGINS=https://seudominio.com,http://localhost:4300
UI_URL=https://seudominio.com
RESEND_EMAIL=contato@seudominio.com
RESEND_API_KEY=sua_resend_api_key
ASAAS_API_KEY=sua_asaas_api_key
ASAAS_BASE_URL=https://api.asaas.com/v3
ASAAS_TOKEN=seu_asaas_webhook_token
SUPABASE_URL=https://seuprojeto.supabase.co
SUPABASE_SERVICE_KEY=sua_supabase_service_key
SUPABASE_BUCKET=uploads